
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body{
	overflow-x: hidden;
}
html{
	font-size: 62.5%;
	overflow-x: hidden;
	/*1rem = 10px*/
}

 	/*=========================================
			 Header section start
   	  ========================================= */

.header{
	padding: 0 4.8rem;
	height: 7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e7f5ff;
}
.header-title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.header-title-text{
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	/*align-items: center;*/
	line-height: 8px;
	
}
.header-title-text-style{
	/*color: #212529;*/
	color: blue;
	font-size: 15px;
	font-weight: 500;
	
}
.vertile-line {
  /*border-left: 2px solid  #212529;*/
  height: 50px;
  margin-right: 3px;
  margin-left: 3px;
  background-color:blue ;
  padding-right: 2px;


}

.header .logo{
	height: 6rem;
}

.navbar-list{
	display: flex;
	gap: 4rem;
	list-style: none;
	/*text-decoration: none;*/
}

.navbar-link:link,
.navbar-link:visited{

	display: inline-block; /*inline-block so that padding can be used on the text*/
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: 500;
	color: #212529;
	transition: all 0.3s;
}
.navbar-link:hover,
.navbar-link:active{
	color: #364fc7;
}

.mobile-navbar-btn{
	display: none;
	background: transparent;
	cursor: pointer;
}
.mobile-nav-icon{
	width: 4rem;
	height: 4rem;
	color: #212529;
}
.mobile-nav-icon[name = "close-outline"]{
	display: none;
}
/*sticky-header*/

.sticky-header .header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:7rem;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

/*=========================================
		Hero and services section start
  ========================================= */

.section-hero,
.section-services{
	padding: p.6rem 0;
	background-color: afd8f;
	height: 80vh;

	display: flex;
	justify-content: center;
	align-items: center;
}
.section-about{
	padding: p.6rem 0;
	background-color: afd8f;
	height: 80vh;

	display: flex;
	justify-content: center;
	align-items: center;
}
.sticky-header .section-hero{
	margin-top: 70px;
}
.section-services{
	background: #f3f0ff;
}
.section-hero{
	background: #f3d0fe;
}

.section-services p,
.section-hero p{
	font-size: 2rem;
}


/*=========================================
		Mobile Responsive start
  ========================================= */

  @media (max-width: 62rem){

  	.mobile-navbar-btn{
  		display: block;
  		z-index: 999;
  		/*border: 3px solid #212529;
  		color: #212529;*/
  	}

  	.header{
  		position: relative;
  	}
  	.navbar{
  		/*display: none;*/
  		width: 100%;
  		height: 100vh;
  		background: #e7f5ff ;
  		position: absolute;
  		top: 0;
  		left: 0;

  		display: flex;
  		justify-content: center;
  		align-items: center;

  		/*to get the transition*/

  		transform: translateX(100%);
  		transition: all 0.5s linear;

  		/*to hide the sidebar transition*/
  		opacity: 0;
  		visibility: hidden;
  		pointer-events: none;

  	}

  	.navbar-list{
  		flex-direction: column;
  		justify-content: center;
  		align-items: center;
  	}

  	.active .navbar{
  		transform: translateX(0);
  		opacity: 1;
  		visibility: visible;
  		pointer-events: auto;
  	}

  	.active .mobile-navbar-btn 
  	.mobile-nav-icon[name="close-outline"]{
  		display: block;
  	}

  	.active .mobile-navbar-btn 
  	.mobile-nav-icon[name="menu-outline"]{
  		display: none;
  	}
  	.sticky-header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height:7rem;
		padding-top: 0;
		padding-bottom: 0;
		box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}
  }